#container {
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fffff0;
    padding: 40px;
    text-align: left;
    border-radius: 30px;
}

#content-contact {
    text-align: center;
    margin-left: 200px;
}

.divider-top {
    text-align: center;
}

.professional {
    margin-bottom: -30px;
    margin-top: 20px;
    font-size: 28px;
}

.purpose {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -200px;
}

img {
    border-radius: 50%;
    float: right;
}
