#container {
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fffff0;
    padding: 40px;
    text-align: left;
    border-radius: 30px;
}

#content-contact {
    text-align: center;
    margin-left: 200px;
}

.divider-top {
    text-align: center;
}

.professional {
    margin-bottom: -30px;
    font-size: 28px;
}

h1 {
    font: Bondi;
    font-size: 52px;
    margin-bottom: -15px;
}

h2 {
    font: Bondi;
    font-size: 18px;
    margin-bottom: -15px;
}

h3 {
    font-size: 28px;
    margin-top: -20px
}

h4 {
    font-size: 22px;
    margin-top: -10px
}

li {
    font-size: 18px;
    text-align: left;
    font: garamond;
}

img {
    border-radius: 50%;
    float: right;
}
